* {
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 1.2rem;
    transition: all .3s ease-out;
    color: black;
}

.label-float input:focus {
    border-bottom: 2px solid #635e92;
}

.label-float label {
    color: #272262;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    font-size: 1.2rem;
    transition: .1s;
}

.label-float input:focus + label,
.label-float input:valid + label {
    font-size: 1rem;
    margin-top: 0;
    color: #555086;
    transition: .1s;
}

button {
    background-color: transparent;
    border-color: #5b5697;
    color: #272262;
    padding: 7px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: .5rem;
    transition: all .1s ease-out;
    outline: none;
}

button:hover{
    background-color: yellow;
    color: #fff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.fa-eye {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: red;
}

.fa-eye:hover {
    transform: scale(1.1);
}

#msgError{
    text-align: center;
    color: #ff0000;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    display: none;
    

}

#msgSuccess{
    text-align: center;
    font-size: 1.2rem;
    color: green;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    display: none;

}
input:focus, textarea:focus{
    background-color: lightyellow;
    }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdn.wallpapersafari.com/97/28/FM51Ya.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}
    

.card {
    background-color: rgba(228, 228, 228, 0.315);
    padding: 2rem;

    width: 30rem;
    height: 35rem;
    border-radius: .5rem;

    box-shadow: 1px 3px 6px 1px #2a246e;
}


.container h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #2a246e;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.linha {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
hr {
    width: 20rem;
}

p {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
}

p a {
    color: #372c52;
    transition: .1s;
}

p a:hover {
    color: #d7cdff;
    transition: .2s;
}
